<div class="homepage-hero-module">
    <div class="video-container">
        <div class="title-container">
          <div class="headline">
            <%= image_tag("compworks-2.png", class: "img-responsive") %>
          </div>
        </div>
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="<%= asset_path 'test.mp4' %>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.</video>
        <div class="poster hidden">
            <img src="http://www.videojs.com/img/poster.jpg" alt="">
        </div>
    </div>
</div>

<div style="background-image:url(<%= asset_url 'mobile-background.jpg' %>)" class="container-fluid hidden" id="section-5">
  <div class="container">
    <div class="row">
      <div style="margin-top:100px" class="col-md-12">
        <%= image_tag "compworks-2.png", class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="section-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <h2 style="color:#184E77">Technical Proficiency</h2>
          <br>
          <br>
        <i style="color:#184E77" class="fa fa-desktop fa-5x"></i>
          <br>
          <br>
        <h4 style="color:#184E77">
          For 19 years, Compworks has served clients in Utah, Wyoming and Idaho. We work hard to give our customters
          professional technical support with IT services, and audio and video expertise. Our clients are just customers,
          they are close friends. It's and IT support difference that you will notice right away.
        </h4>
      </div>
      <div class="col-md-6 text-center">
        <h2 style="color:#184E77">Reliabillity That Drives Your Business</h2>
          <br>
          <br>
        <i style="color:#184E77" class="fa fa-server fa-5x"></i>
          <br>
          <br>
        <h4 style="color:#184E77">
          Compworks is known for reliabillity and undying support to your business. We provide the
          personal touch of a small company, while consistantly giving the best technical advice with cutting edge technology.
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="containter-fluid" id="section-3">
  <div class="containter">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>Hear first hand what our customers have to say</h2>
        <legend></legend>
        <blockquote>
          Here is a long block quote from one of your customers Here is a long block quote from one of your customers Here is a long block quote from one of your customers Here is a long block quote from one of your customers
          Here is a long block quote from one of your customers Here is a long block quote from one of your customers Here is a long block quote from one of your customers
          <footer>someone special</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="containter-fluid" id="section-4">
  <div class="containter">
    <div class="row">
      <div class="col-md-4 text-center">
        <br>
        <i style="color:#eab92d" class="fa fa-mobile fa-5x"></i>
          <br>
          <br>
          <br>
        <h4 style="color:#eab92d">There are a number of ways to contact us. For an immediate response, text David Farnworth at 801-755-1442. We look forward to working with you.</h4>
        <h4 style="color:#eab92d">Phone: 801-999-4926</h4>
        <h4 style="color:#eab92d">Office Fax: 801-401-7321</h4>
      </div>
      <div class="col-md-4 text-center">
        <br>
        <i style="color:#eab92d" class="fa fa-envelope fa-5x"></i>
          <br>
          <br>
          <br>
        <h4 style="color:#eab92d">Mailing Address: 857 W. Alan Point Draper, UT 84020</h4>
        <h4 style="color:#eab92d">Lisa Contact Info: (Accounting Issues) 801-815-5411 lisa@compworkspc.com</h4>
        <h4 style="color:#eab92d">David Farnworth Info: (Scheduling / Tech Support) 801-755-1442 david@compworkspc.comw</h4>
      </div>
      <div class="col-md-4 text-center">
        <br>
        <i style="color:#eab92d"class="fa fa-sign-in fa-5x"></i>
          <br>
          <br>
          <br>
        <h4 style="color:#eab92d">Compworks works onsite or remotely with all our clients. We are able to offer direct assistance no matter where your business resides.</h4>
        <h4 style="color:#eab92d">Web: www.compworkspc.com</h4>
        <h4 style="color:#eab92d">Email: david@compworkspc.com</h4>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="section-2">
  <div class="container">
    <div class="row">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active img-sliders">
            <%= image_tag "cworks-office-1.jpg", size: "800x400" %>
          </div>
          <div class="item img-sliders">
            <%= image_tag "cworks-office-2.jpg", size: "800x400" %>
          </div>
          <div class="item img-sliders">
            <%= image_tag "cworks-office-3.jpg", size: "800x400" %>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
