<div class="containter-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row-fluid text-center">
          <h4><a href="/admin_dashboard"><i class="fa fa-sign-out" aria-hidden="true"></i></a>  Purchase Orders  <a href="/purchase_orders/new"><i class="fa fa-plus"></i></a></h4>
        </div>
          <table class="table table-striped">
            <thead>
              <th>
                PO Number
              </th>
              <th>
                Company
              </th>
              <th>
                Item
              </th>
              <th>
                Vendor
              </th>
              <th>
                Recieved?
              </th>
            </thead>
            <tbody>
              <% @purchase_orders.each do |po| %>
                <tr>
                  <td>
                    <%= link_to "\#" + po.po_number.to_s, po %>
                  </td>
                  <td>
                    <%= po.company.try(:name) %>
                  </td>
                  <td>
                    <%= po.items.first.try(:name) %>
                  </td>
                  <td>
                    <%= po.vendors.first.try(:name) %>
                  </td>
                  <td>
                    <%= po.payment ? "<i class=\"fa fa-check-circle-o\"style=\"color:green\"></i>".html_safe : "<i class=\"fa fa-times-circle-o\" style=\"color:red\"></i>".html_safe %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <%= will_paginate @purchase_orders %>
      </div>
    </div>
  </div>
</div>
