<div class="container-fluid" id="company-show">
  <div class="container">
    <div class="row text-center">
      <h1><%= @company.name %></h1>
      <h3><%= @company.doctor_name %></h3>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            <h3 class="panel-title">Purchase Orders     <a href="/purchase_orders/new" id="add-po"><i class="fa fa-plus fa-3"></i></a>
          </div>
          <div class="panel-body fixed-panel">
            <% @pos.each do |po| %>
            <div class="list-group">
              <a href="/purchase_orders/<%= po.id %>" class="list-group-item">
                <h4 class="list-group-item-heading">#<%= po.po_number %></h4>
                <p class="list-group-item-text"> Received: <%= po.payment ? "<i class=\"fa fa-check-circle-o fa-2x\"style=\"color:green\"></i>".html_safe : "<i class=\"fa fa-times-circle-o fa-2x\" style=\"color:red\"></i>".html_safe %></p>
              </a>
            </div>
            <% end %>
          </div>
        </div>
        <%= will_paginate @pos %>
      </div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            <h3 class="panel-title">Inventory Items     <a href="#" id="add-inventory-item"><i class="fa fa-plus fa-3"></i></a></h3>
          </div>
          <div class="panel-body fixed-panel">
            <% @inventory_items.each do |ii| %>
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading"><%= ii.features["computer_name"] %></h4>
                <p class="list-group-item-text">Operating System: <%= ii.features["operating_system"] %></p>
                <p class="list-group-item-text"> Has LogMeIn: <%= ii.features["log_me_in"] == "true" ? "<i class=\"fa fa-check-circle-o fa-2x\"style=\"color:green\"></i>".html_safe : "<i class=\"fa fa-times-circle-o fa-2x\" style=\"color:red\"></i>".html_safe %></p>
              </a>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <%= will_paginate @inventory_items %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            <h3 class="panel-title">Servie Logs     <a href="#" id="add-service-log"><i class="fa fa-plus fa-3"></i></a></h3>
          </div>
          <div class="panel-body fixed-panel">
            <% @service_logs.each do |sl| %>
              <div class="list-group">
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading"><%= sl.length %></h4>
                  <p class="list-group-item-text">Servie Date: <%= sl.date.strftime('%a %d %b %Y') %></p>
                  <p class="list-group-item-text"> Paid? <%= sl.payment ? "<i class=\"fa fa-check-circle-o fa-2x\"style=\"color:green\"></i>".html_safe : "<i class=\"fa fa-times-circle-o fa-2x\" style=\"color:red\"></i>".html_safe %></p>
                </a>
              </div>
            <% end %>
          </div>
        </div>
        <%= will_paginate @service_logs %>
      </div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            <h3 class="panel-title">Encrypted Notes     <a href="#" id="add-inventory-item"><i class="fa fa-pencil fa-3"></i></a></h3>
          </div>
          <div class="panel-body fixed-panel">
            Encrypted Notes Go Here
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'companymodals' %>
<%= render 'scriptstore' %>
