<div class="containter-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row-fluid text-center">
          <h3><a href="/admin_dashboard"><i class="fa fa-sign-out" aria-hidden="true"></i></a> Service Logs <a href="/service_logs/new"><i class="fa fa-plus"></i></a></h3>
        </div>
        <table class="table table-striped">
          <thead>
            <th>
              Date
            </th>
            <th>
              Company
            </th>
            <th>
              Length
            </th>
            <th>
              Notes
            </th>
          </thead>
          <tbody>
            <% @service_logs.each do |sl| %>
              <tr>
                <td>
                  <%= link_to sl.date.to_time.strftime('%B %e, %Y'), sl %>
                </td>
                <td>
                  <%= sl.company.try(:name) %>
                </td>
                <td>
                  <%= sl.length + " hours" %>
                </td>
                <td>
                  <%= sl.notes.truncate_words(4) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @service_logs %>
      </div>
    </div>
  </div>
</div>
