<div class="containter-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row-fluid text-center">
          <h3><a href="/admin_dashboard"><i class="fa fa-sign-out" aria-hidden="true"></i></a> Service Logs <a href="/service_logs/new"><i class="fa fa-plus"></i></a></h3>
        </div>
        <% @service_logs.each do |sl| %>
          <div class="list-group">
            <div class="list-group-item" data-id="<%= sl.id %>">
              <h3 class="list-group-item-heading">
                <%= link_to sl.date.to_time.strftime('%B %e, %Y'), sl %>
                <% if sl.paid? %>
                  <span class="pull-right"><i style="color:green" data-id="<%= sl.id %>" class="fa fa-money fa-2x mark-unpaid" aria-hidden="true"></i></span>
                <% else %>
                  <span class="pull-right"><i style="color:red" data-id="<%= sl.id %>" class="fa fa-money fa-2x mark-paid" aria-hidden="true"></i></span>
                <% end %>
              </h3>
              <h4>Client: <%= sl.company.name %></h4>
              <h5>Length: <%= sl.length %></h5>
              <p>
                <%= sl.service_preformed %>
              </p>
            </div>
          </div>
        <% end %>
        <%= will_paginate @service_logs %>
      </div>
    </div>
  </div>
</div>
