<div class="containter-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row-fluid text-center">
          <h2>Unpaid Service Logs</h2>
        </div>
        <% @unpaid_service_logs.each do |upsl| %>
          <div class="list-group">
            <div class="list-group-item" data-id="<%= upsl.id %>">
              <h3 class="list-group-item-heading">
                <%= link_to upsl.date.to_time.strftime('%B %e, %Y'), upsl %>
                <span class="pull-right"><button data-id="<%= upsl.id %>" class="btn btn-primary mark-received" type="button" name="button">Mark as paid</button></span>
              </h3>
              <h5>Client: <%= upsl.company.name %></h5>
              <p>
                <%= upsl.service_preformed %>
              </p>
              <h5 class="list-group-item-text"> Received: <%= upsl.payment ? "<i class=\"fa fa-check-circle-o fa-2x\"style=\"color:green\"></i>".html_safe : "<i class=\"fa fa-times-circle-o fa-2x\" style=\"color:red\"></i>".html_safe %></h5>
            </div>
          </div>
        <% end %>
        <%= will_paginate @unpaid_service_logs %>
      </div>
      <div class="col-md-6">
        <div class="row-fluid text-center">
          <h2>Received Service Logs</h2>
        </div>
        <% @paid_service_logs.each do |psl| %>
          <div class="list-group">
            <div class="list-group-item" data-id="<%= psl.id %>">
              <h3 class="list-group-item-heading">
                <%= link_to psl.date.to_time.strftime('%B %e, %Y'), psl %>
                <span class="pull-right"><button data-id="<%= psl.id %>" class="btn btn-warning mark-unreceived" type="button" name="button">Mark as unpaid</button></span>
              </h3>
              <h5>Client: <%= psl.company.name %></h5>
              <p>
                <%= psl.service_preformed %>
              </p>
              <h5 class="list-group-item-text"> Paid: <%= psl.payment ? "<i class=\"fa fa-check-circle-o fa-2x\"style=\"color:green\"></i>".html_safe : "<i class=\"fa fa-times-circle-o fa-2x\" style=\"color:red\"></i>".html_safe %></h5>
            </div>
          </div>
        <% end %>
        <%= will_paginate @paid_service_logs %>
      </div>
    </div>
  </div>
</div>
