<!DOCTYPE html>
<html>
<head>
  <title>Cworks</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class="<%= params[:controller] %> <%= params[:action] %>">

  <nav class="navbar navbar-default">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <%= image_tag 'compworks-2.png', size: "135x45" %>
          </a>
        </div>
        <% if logged_in? %>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li style="background-color:#2C3E50"><a href="/admin_dashboard">Admin Dashboard</a></li>
            <li style="background-color:#2C3E50"><%= link_to 'Logout', login_path, method: :delete %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to 'Login', login_path %></li>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
  </nav>
<%= flash_messages %>
<%= yield %>

</body>
</html>
