<!DOCTYPE html>
<html>
<head>
  <title>Cworks</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class="<%= params[:controller] %> <%= params[:action] %>">

<nav class="navbar">
 <div class="navbar-inner">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/">COMPWORKS</a>
     </div>
   <% if logged_in? %>
     <div class="collapse navbar-collapse" id="navbar-collapse">
       <ul class="nav navbar-nav pull-right">
         <li><a href="/companies/new">New Company</a></li>
         <li><a href="/companies">Clients</a></li>
         <li class="dropdown">
           <a type="button" class="dropdown-toggle" aria-expanded="true" data-toggle="dropdown" href="#">
             <%= @current_user.name %>
             <span class="caret"></span>
           </a>
           <ul class="dropdown-menu" role="menu">
             <li><%= link_to 'Logout', login_path, method: :delete %></li>
           </ul>
         </li>
       </ul>
     <% else %>
       <ul class="nav pull-right">
         <li><%= link_to 'Login', login_path %></li>
       </ul>
     <% end %>
     </div>
 </div>
</nav>

<%= flash_messages %>
<%= yield %>

</body>
</html>
